html {
  box-sizing: border-box;
  font-size: 10px;
  background: #3d55ee;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin:0;
  color: #fff;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

header {
  margin-top: 20px;
}

header .logo {
  letter-spacing: 2px;
}

.countdown {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.display {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display h1 {
  font-size: 60px;
  font-family: 'Pacifico';
  margin-bottom: 0;
}

.display p {
  margin-top: 0;
  font-size: 16px;
}

.display .time {
  display: flex;
}

.display .time div {
  padding: 20px;
}